# KeyCRM credentials
KEYCRM_URL=https://**.keycrm.app/
KEYCRM_USERNAME=your_username
KEYCRM_PASSWORD=your_password

# Aiven PostgreSQL credentials
AIVEN_PG_HOST=your_aiven_host
AIVEN_PG_PORT=5432
AIVEN_PG_DB=your_database
AIVEN_PG_USER=your_user
AIVEN_PG_PASSWORD=your_password
AIVEN_PG_SSLMODE=require
